.arriba {
    background-color: lightblue;
    text-align: center;

}


.html {
    background-color: white;
    width: 200px;
    height: 200px;
    font-weight: bold;

    display: inline-block;
    border: 1px solid lightgrey;
    margin: 10px;
    padding: 30px;

    box-sizing: border-box;

}

.imagen1 {
    width: 90px;
    height: 90px;
}


.CSS3 {
    background-color: white;
    width: 200px;
    height: 200px;
    font-weight: bold;

    display: inline-block;
    border: 1px solid lightgray;
    margin: 10px;
    padding: 30px;

    box-sizing: border-box;
}

.imagen2 {
    width: 90px;
    height: 90px;
}



.Sass {
    background-color: white;
    width: 200px;
    height: 200px;
    font-weight: bold;

    display: inline-block;
    border: 1px solid lightgray;
    margin: 10px;
    padding: 30px;

    box-sizing: border-box;
}

.imagen3 {
    width: 90px;
    height: 90px;
}

 
.abajo {
    background-color: lightblue;
    text-align: center;
}

.JavaScript {
    background-color: white;
    width: 200px;
    height: 200px;
    font-weight: bold;

    display: inline-block;
    border: 1px solid lightgrey;
    margin: 10px;
    padding: 30px;

    box-sizing: border-box;

}
.imagen4 {
    width: 90px;
    height: 90px;
}



.React {
    background-color: white;
    width: 200px;
    height: 200px;
    font-weight: bold;

    display: inline-block;
    border: 1px solid lightgray;
    margin: 10px;
    padding: 30px;

    box-sizing: border-box;
}
.imagen5 {
    width: 90px;
    height: 90px;
}




.GIT {
    background-color: white;
    width: 200px;
    height: 200px;
    font-weight: bold;

    display: inline-block;
    border: 1px solid lightgray;
    margin: 10px;
    padding: 30px;

    box-sizing: border-box;
}
.imagen6 {
    width: 90px;
    height: 90px;
}

